<div class="container">
  <h1 class="title">
    Project I
  </h1>
  <p class="subtitle">
    Collect your <strong>achievements</strong>!
  </p>
</div>
<br/>
<div class="container">
  <p class="subtitle">Step 1: Choose a goal</p>
  <p class="subtitle">Step 2: Connect to your google calendar</p>
  <p class="subtitle">Step 3: Choose your difficulty</p>
  <br/>
  <p class="subtitle">Keep track of your achievements</p>
  <p class="subtitle">Collect and share your drops</p>
</div>