If calendar is not connected:
  Connect to Google calendar
Else if calendar is connected:
  Show current goal!

<div class="section">
  <%= link_to "Connect to Google Calendar", redirect_path, class: "button is-link" %>
</div>

<h1>Create New Calendar</h1>
<%= link_to 'Create Calendar', insert_calendar_path, method: :post, class: 'btn btn-primary' %>
<%= @calendar_list %>