If calendar is not connected:
  Connect to Google calendar
Else if calendar is connected:
  Show current goal!

<div class="section">
  <%= link_to "Connect to Google Calendar", redirect_path, class: "button is-link" %>
</div>

<%= @calendar_list %>